body{
	font-family: Microsoft YaHei;
	overflow: hidden;
}
}
/*
root element for the scrollable.  when scrolling occurs this
element stays still.
*/
.scrollable {
  /* required settings */
  position:absolute;
  overflow:hidden;
  width: 1366px;
  height:500px;
  z-index:-100;
}
 
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div {
  float:left;
}
.navi-wrapper{
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 40%;
}
.left_button{
	position: absolute;
	left: 20px;
}
.right_button{
	position: absolute;
	right: 20px;
}
#footer{
	background-image: url(../img/layer_bg.png);
	background-size: cover;
	color: #c2c2c2;
	font-weight: bold;
	height: 100px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}
.header{
	z-index: 101;
	width: 1300px;
	position: absolute;
}
.header > div{
	float: left;
	position: relative;
}
#head_menu > div{
	position: relative;
	float: left;
	cursor:pointer;
}
#head_login>div{
	position: relative;
	float: left;
	cursor: pointer;
}
.header	> img{
	position: absolute;
}
.home{
	width: 100px;
	height: 40px;
	top: 23px;	
	/*left: 245px;*/
	left: 185px;

}
.destination{
	width: 130px;
	height: 40px;
	top: 23px;
	/*left: 270px;*/
	left: 210px;
}
.ticket{
	width: 120px;
	height: 40px;
	top: 23px;
	/*left: 275px;*/
	left: 215px;
}
.my_space{
	width: 150px;
	height: 40px;
	top: 23px;
	/*left: 275px;*/
	left: 220px;
}
.input_username{
	top:30px;
	/*left: 275px;*/
	left: 235px;
}
.input_username > input{
	width: 150px;
	height: 20px;
}
.input_password{
	top:30px;
	/*left: 285px;*/
	left: 245px;
}
.input_password > input{	
	width: 150px;
	height: 20px;
}
.login{
	width: 40px;
	height: 40px;
	top: 30px;
	/*left: 300px;*/
	left: 265px;
}
.register{
	width: 40px;
	height: 40px;
	top: 30px;
	/*left: 315px;*/
	left: 275px;
}
#user_info{
	float: left;
	position: relative;
	left: 230px;
	top: 30px;
}
#logout{	
	position: relative;
	left: 235px;
	top: 30px;
}